@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Kanit', sans-serif;
}
:root {
  color-scheme: dark; /* dark scroll bar :)  */
 overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #050816;
  /* background-color: #663dff; */
  /* background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%); */
}

::-webkit-scrollbar-thumb {
  /* background-color: #d4418e; */
  background-color: #220a5a;
  /* background-color: #05abcd; */
  /* background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%); */
  background-image: linear-gradient(180deg, #6665cd 0%, #af1db7 74%);
  border-radius: 10px;
}

.heading{
  @apply text-center text-4xl sm:text-6xl text-teal-300 font-medium;
}
.card-color{
  @apply bg-[#15103048];
}

.blurblur{
  @apply shadow-transparent;
  --tw-backdrop-blur: blur(1px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.brdr{
  @apply border border-l-pink-600 border-b-pink-600 border-r-blue-600 border-t-blue-600;
}
.mouseOuter{
  @apply absolute mx-auto top-0 md:-top-56 lg:top-0 sm:translate-x-24 z-10 w-[35px] h-[64px] rounded-3xl border-4 border-[#454b4e] flex justify-center items-start p-2;
}
.mouseBtn{
	animation: bounce 1s infinite;
  @apply w-3 h-3 rounded-full bg-[#3c3954] mb-1;
}
@keyframes bounce {
  0%,100% {
    transform: translateY(160%);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0, 2);
  }
}